<mat-card class="mat-card_add">
    <mat-card-header>
        <mat-card-title>書籍登録</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field>
            <mat-label>書籍名</mat-label>
            <input matInput>
        </mat-form-field>
    </mat-card-content>
    <mat-card-content>
        <mat-form-field>
            <mat-label>あらすじ</mat-label>
            <textarea matInput></textarea>
        </mat-form-field>
    </mat-card-content>
    <mat-card-content>
        <mat-form-field class="mat-form-field_point">
            <mat-label>評価点</mat-label>
            <input matInput>
        </mat-form-field>
    </mat-card-content>
    <mat-card-content>
        <div class="button-container">
            <button mat-raised-button color="primary">追加</button>
        </div>
    </mat-card-content>
</mat-card>

<mat-card class="mat-card_info">
    <mat-card-header>
        <mat-card-title>アンドロイドは電気羊の夢を見るか?</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        第三次大戦後の未来、サンフランシスコを舞台に賞金稼ぎのリック・デッカードが、
        火星から逃亡してきた8体のアンドロイドを「処理」するというあらすじ
    </mat-card-content>
    <mat-card-content>評価: 90点</mat-card-content>
    <mat-card-content>
        <div class="button-container">
            <button mat-raised-button color="warn">削除</button>
        </div>
    </mat-card-content>
</mat-card>

<mat-card class="mat-card_info">
    <mat-card-header>
        <mat-card-title>岩田さん: 岩田聡はこんなことを話していた。</mat-card-title>
    </mat-card-header>
    <mat-card-content>任天堂の元社長、 岩田聡さんのことばをまとめた本</mat-card-content>
    <mat-card-content>評価: 90点</mat-card-content>
    <mat-card-content>
        <div class="button-container">
            <button mat-raised-button color="warn">削除</button>
        </div>
    </mat-card-content>
</mat-card>
